@import '{reywood:bootstrap3-sass}/bootstrap';

.react-grid-item{
  background: #ccc;
}

.workshop{
  width: 100%;
}

.sidebar{
  width: 280px;
  height: 100vh;
  background: #eee;
  float: left;
  overflow-y: auto;
  top: 0px;
}

.itembox{
  width: 90%;
  margin: 0 auto;
  height: 60px;
  background: #ccc;
  margin: 10px;
}

.main-content{
  width: 100%;
  margin-top: 50px;
}

.navbar{
  margin-bottom: 0px;
}

.btn-success{
  margin-left: 10px;
}

.Droppable{
}

.main-layout{
  width: 100%;
  height: 200px !important;
  background: green;
}

.bm-menu-wrap{
  background: #f9f9f9;
}

.bm-cross{
  color: #a23;
}

.bm-burger-icon {
  background: #373a47;

  &:first-of-type{
    top: 86px !important;
  }

  &:nth-of-type(2){
    top: 98px !important;
  }

  &:last-of-type{
    top: 110px !important;
  }
}

